<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Pengaturan metadata -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Menambahkan ikon pada tab browser -->
    <link rel="icon" href="/img/Logo_Sun.png">
    <!-- Menambahkan stylesheet eksternal -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Include file header -->
  {{> header}}

  <!-- Bagian Utama Halaman -->
  <div class="main-content" id="index-content">
      <!-- Struktur Kondisional Handlebars -->
      {{#if name}}
        <h2>Hi {{name}}</h2>
      {{else}}
        <h2>Selamat datang di Website {{naming}} !!</h2>
      {{/if}}
      
      <p>Silahkan Cari Music Kesukaan Anda</p>

      <!-- Link Menuju Akun Sosial -->
      <div>
       
        <a href="https://www.instagram.com/egi0__/" target="_blank">
          <img id="ig-icon" src="/img/Icon_IG.png" alt="Instagram Icon">
        </a>
      </div>
    </div>
  </div>

  <!-- Include file footer -->
  {{> footer}}
</body>
</html>
